<% layout('layouts/boilerplate')%>

<h1>All Rentals</h1>
<div>
    <a href="/rentals/new">Add Rental</a>
</div>
<% for (let lodge of lodgeList){%>
<div class="card" mb-3>
    <div class="row mb-3">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=lodge.images[0].url%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= lodge.title %> </h5>
                <p class="card-text"><%= lodge.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= lodge.location%></small>
                </p>
                <a class="btn btn-primary" href="/rentals/<%=lodge._id%>">View <%=lodge.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>