<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= lodge.title %></title>
</head>
<body>
    <h1> <%= lodge.title %></h1>
    <h2><%= lodge.location %></h2>
    <p><%= lodge.description %></p>
    <a href="/rentals/<%= lodge._id %>/edit">Edit</a>
    <form action="/rentals/<%= lodge._id %>?_method=DELETE" method="post">
        <button>Delete Rental</button>
    </form>
    <footer>
        <a href="/rentals">All Rentals</a>
    </footer>
</body>
</html>